<div class="container main-container">
    <h2>Filmes</h2>
    <hr />

    <div class="card-deck">
        <div class="card text-center m-1" style="width: 18rem; float: left" *ngFor='let filme of filmes; let i = index' [attr.data-index]="i">
            <img class="card-img-top" src="{{filme.poster}}" alt="{{filme.nome}}">
            <div class="card-body">
                <h5 class="card-title">{{filme.nome}}</h5>
                <p class="card-text">{{filme.ano}}</p>
                <a [routerLink]="['/detalhes-filme', filme.id]" class="btn btn-primary m-1">Detalhes</a>
                <a (click)="favoritar(filme.id, i)" class="btn btn-secondary m-1" *ngIf="!filme.favorito">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                    </svg>
                </a>

                <a (click)="desfavoritar(filme.id, i)" class="btn btn-success m-1" *ngIf="filme.favorito">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-heart-fill" viewBox="0 0 16 16">
                        <path d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>