<div class="container main-container">
    <h2>Detalhes</h2>
    
    <hr />

      <div class="form-group">
        <label class="col-md-2 control-label">Nome</label>
        <div class="col-md-10">
          <input class="form-control" id="nome" type="text" value="{{filme.nome}}" placeholder="Policia de São Paulo" />
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-2 control-label">Titulo</label>
        <div class="col-md-10">
          <input class="form-control" id="titulo" type="text" placeholder="Um policial muito louco" value="{{filme.titulo}}" />
        </div>
      </div>
          
      <div class="form-group">
        <label class="col-md-2 control-label">Sinopse</label>
        <div class="col-md-10">
          <textarea class="form-control" id="sinopse" type="text" placeholder="Um policial novo do distrito, aposta a sua carreira em um caso perdido." value="{{filme.sinopse}}"></textarea>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-2 control-label">Genero</label>
        <div class="col-md-10">
          <input class="form-control" id="genero" type="text" placeholder="Ação, Policial, Tiroteo" value="{{filme.genero}}" />
        </div>
      </div>
         
      <div class="form-group">
        <label class="col-md-2 control-label">Ano</label>
        <div class="col-md-10">
          <input class="form-control" id="ano" type="number" placeholder="2021" value="{{filme.ano}}" />
        </div>
      </div>
             
      <div class="form-group">
        <label class="col-md-2 control-label">Nota: <output name="nota_valor">{{filme.nota}}</output> </label>
        <div class="col-md-10">
          <input class="form-control" id="nota" type="range" min="1" max="10" step="1" value="1" placeholder="1" value="{{filme.nota}}" />        
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Favorito</label>
        <div class="col-md-10">
          <input class="form-control" id="favorito" type="text" placeholder="Sim" value="{{filme.favorito ? 'Sim' : 'Não'}}" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Poster</label>
        <div class="col-md-10">
          <img src="{{filme.poster}}" alt="{{filme.nome}}">
        </div>
      </div>
  
      <div class="form-group mt-2">
        <div class="col-md-4 col-md-offset-2">
          <span><a class="btn btn-primary" [routerLink]="['/listar-filme']" >Voltar</a></span>
        </div>
      </div>
  
  </div>